/*
    Layout
*/

body {
    background: rgb(227, 227, 227) no-repeat;
}

.body_container {
    margin: 0 auto;
    border: 1px solid green;
    max-width: 800px;
    min-height: 400px;
    background: url(../images/bg_effects.png) no-repeat;
    background-position: 50% -100%;
    background-size: 65%;
}

/*
    Header Area
*/

header {
    border: 1px solid gray;
    min-height: 170px;
    width: 50%;
    margin: 0 auto;
}

#header_logo {
    background: url("../images/header_logo.png") no-repeat;
    background-position: center center;
    height: 61px;
    margin: 10px 0;
}

#header_title_area {
    font-family: Lobster;
    font-size: 24px;
    text-align: center;
}

/*
 Middle Section Area
*/

#content_area {
    width: 100%;
    background: #ffffff;
}

.day_count_container{
    height: 200px;
}

.sign_up_container {
    background: url("../images/wooden_box.png") no-repeat;
    height: 100px;
}

/*
 Footer Area
*/
footer{
    width: 60%;
    background: #ffffff;
    height: 100px;
    margin: 0 auto;
}