/*
 Layout
*/

body {
    background: rgb(227, 227, 227);
}

.body_container {
    margin: 0 auto;
    width: 50%;
}

/*
 Miscellaneous
*/

/*Font Style*/
.lobster{
    font-family: lobster;
    line-height: 0;
}

.arial{
    font-family: arial;
    line-height: 0;
}

.uppercase{
    text-transform: uppercase;
}

/*Font Size*/
.size32{
    font-size: 32pt;
}

.size8{
    font-size: 8pt;
}

/*
 position
*/

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/*
============================================= misc end ==============================================
*/
/*
 Header Area
*/

header {
    text-align: center;
}


/*
 Content Area
*/

section{
    margin: 5% 0 0 0;
}

.white_box{
    background: #ffffff;
}

section .white_box{
    min-height: 200px;
}

.wooden_box{
    background: url("../images/wooden_box.png") no-repeat;
    min-height: 100px;
}

.count_down{
    height: 150px;
    border: 1px solid #000;
}

.progress_bar{
    width: 75%;
    margin: 2% auto 0 auto;
    background: rgb(227, 227, 227);
    height: 25px;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.progress_bar .green{
    width: 52%;
    background: rgb(177, 196, 0);
    margin: 0;
}

.percentage_progress{
    color: rgb(133, 147, 0);
    right: 10%;
    line-height: 25px;
}

/*
 Footer Area
*/

footer .white_box{
    margin: 0 auto;
    min-height: 50px;
    width: 90%;
}